<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
            <span>Bookers</span>
        </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Home
                </a>
                </li>

        <li><a href="/home/about">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            About
            </a>
          </li>
        <li><a href="/users/sign_up">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    sign up
                    </a>
                </li>
        <li><a href="/users/sign_in">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            login
            </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class=body>
    <div class="container">
      <div class="row">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :username %></div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <button class="btn btn-success">Sign up</button>
  </div>
<% end %>
<%= render "devise/shared/links" %>
<footer>
     <div class="container">
        <div class="row">
           <div class="col-xs-offset-9 ">
         <p>CopyRight Infratop.inc</p>
        </div>
     </div>
  </footer>
