<div class="body">
   <div class="container">
      <p id="notice"></p>
      <h2>User Info</h2>
      <%= form_for(@user) do |f| %>
        <div class="profile-container">
        <h4 class="profile-name">Name</h4><%= f.text_field :name %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
        <h4 class="profile-introduction">Introduction</h4><%= f.text_area :introduction %>
       
        <%= f.submit "Update" %>
        </div>
    <% end %>
   </div>
</div>