<div class="body">
    <div class="container">
        <p id="notice"></p>
          <div class="row">
          <div class="col-xs-3">
          <h2>User info</h2>
          <table class="table">
              <tbody>
                 <tr>
                 <p><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg"%></p>
                 </tr>
                 <tr>
                    <th>name</th>
                    <td><%= @user.name %></td>
                 </tr>
                 <tr>
                    <th>introduction</th>
                    <td><%= @user.introduction %></td>
                  </tr>
               </tbody>
           </table>
           <div class="row">
           <%= link_to "", edit_user_path, class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
           </div>
           <h2>New book</h2>
           <%= form_for(@book) do |f| %>

               <h4>Title</h4>
               <%= f.text_field :title %>
            
               <h4>Opinion</h4>
               <%= f.text_area :body %>
            
               <%= f.submit 'Create Book' %>
            
           <% end %>
        </div>

           <div class="col-xs-9">
              <h2>Books</h2>
              <table class="table table-hover table-inverse">
                 <thead>
                   <tr>
                     <th></th>
                     <th>Title</th>
                     <th>Opinion</th>
                     <th colspan="3"></th>
                   </tr>
                 </thead>
                 <% @books.each do |book| %>
                 <tbody>
                   <tr>
                   <th><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:"60x60" %></th>
                   <th><%= book.title %></th>
                   <th><%= book.body %></th>
                   <th colspan="3"></th>
                   </tr>
                 </tbody>
                 <% end %>
              </table>
           </div>
    </div>
</div>
