<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
            <span>Bookers</span>
        </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to " Home", root_path, class: "glyphicon glyphicon-home" %>
        </li>

        <li>
          <%= link_to " About", home_about_path, class: "glyphicon glyphicon-link" %>
            </a>
          </li>
        <li>
          <%= link_to " sign up", new_user_registration_path, class: "glyphicon glyphicon-edit" %>

        </li>
        <li>
          <%= link_to " Login", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="body">
    <%= yield %>
    <%= link_to "signout", destroy_user_session_path, method: :delete %>
</div>
<footer>
     <div class="container">
        <div class="row">
           <div class="col-xs-offset-9 ">
         <p>CopyRight Infratop.inc</p>
        </div>
     </div>
</div>
</footer>
  </body>
</html>
